* {
	box-sizing: border-box;
}

/*-----------------------------------------*/
/*                  GRID                   */
/*-----------------------------------------*/
.container {
	width: 100%;
	margin: 0 auto;
	max-width: 650px;
	min-width: 650px;
	@media (min-width: 721px){
		max-width: 720px;
	}
	@media (min-width: 1001px) {
		max-width: 1000px;
	}
	.row {
		padding-bottom: 2rem;
		&:before,
		&:after {
			clear: both;
			display: block;
			content: '';
		}

		[class*="col-"]{
			float: left;
			min-height: 1px;
			width: $singleColumnWidth;
			padding: 0px;
			display: inline-block;
		}

		@for $i from 1 through $columns {
			.col-sm-#{$i} {
				width: ($singleColumnWidth * $i);
			}
		}

		@media (min-width: 720px){
			@for $i from 1 through $columns {
				.col-md-#{$i} {
					width: ($singleColumnWidth * $i);
				}
			}
		}

		@media (min-width: 1000px) {
			@for $i from 1 through $columns {
				.col-lg-#{$i} {
					width: ($singleColumnWidth * $i);
				}
			}
		}
	}
}
