// COLORS
$color1: black;
$color2: #d11;
$color3: grey;
$color4: white;

// GRID
$columns: 12;
$singleColumnWidth: 100%/$columns;

// WIDTHs
$mobileWidth: 360px;
$tabletWidth: 720px;
$desktopWidth: 900px;
